.footer {
    position: relative;
    padding: 10rem 5rem;
    background-color: rgb(246,245,240);
    position: relative;
    overflow: hidden;

    background-image: radial-gradient(
        ellipse 180% 50% at top center, 
        rgba(255, 255, 255, 0.1) 0%, 
        transparent 80%
    )
}

.footer__container{

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: var(--black-color);
    gap: 4rem;

    .footer__content--logo{
        
        text-align: start;
        
        .footer__logo{
            margin-bottom:1rem ;
        }
    }

    .footer__content--redes{
        
        text-align: center;

        .footer__title{
            font-size: 1.5rem;
            margin-bottom:1rem ;
        }

        .footer__social{

            .footer__social-link{
                color: var(--black-color);
                svg {
                    width: 10rem;  /* Tamaño ideal para visibilidad */
                    height: 10rem;
                    stroke-width: 1.5; /* Línea más fina para un look premium */
                    transition: 0.3s;
                }
            }
        }
    }
}

@media screen and (max-width: 1242px){
    .footer__container {
        justify-content: center; 
        text-align: center;      
    }
    .footer__content--logo{
        text-align: center;
        order: 1;
    }

    .footer__content--redes{
        order: 3;
    }

    .footer__content--contacto{
        order: 2;
    }
}