
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font); 
  font-size: var(--normal-font-size); 
  background: rgba(0, 0, 0, 0.95);
  color: var(--text-color); 
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

/*
@keyframes respiracionDorada {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
*/