
.carrucel__container {
    
    padding-block: 5rem; 
    
    
    background-color: rgba(255, 255, 255, 0.05); 
    border: 1px dashed var(--first-color);       
    

    display: flex;
    justify-content: center;
    align-items: center;
    

    min-height: 400px; 
    
   
    h2 {
        color: var(--first-color);
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        opacity: 0.7;
    }
}