
.card-list .card-item .card-link:active{

}
.carrusel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    .carrusel__container{
        text-align: center;
        .carrusel__subtitle{
            margin-top: 5em;
            padding-top: 10rem;
            font-size: 2.5rem;
            margin-bottom: 5rem;

            border-top: 1px solid;
        }

        .carrusel__cards{
            max-width: 100%;
            margin: 2.5rem;
            overflow: hidden;
            
            .carrusel__card-list{


                .carrusel__card-item{
                    .card-link{
                        
                        display: block;
                        /*background-color: var(--white-color);*/
                        /*padding*/
                        /*border-radius*/
                        /*text-decoration*/
                        user-select: none;
                        overflow: hidden;
                        border-radius:2em;
                        border: 2px solid transparent;
                        display: block;
                        transition: 0.2 ease;

                        .card-image{
                            width: 100%; 
                            object-fit: cover;
                            aspect-ratio: 1 / 1.63;
                            object-fit: cover;
                            display: block;
                            
                        }

                        &:hover{
                            border-color: var(--white-color);
                        }
                    }
                }
            }

            .swiper-pagination-bullet{
                background: azure;
                height: 0.5rem;
                width: 0.5rem;
                opacity: 1;
                background: #ccc;
                margin: 0px 6px;
                transition:  0.6s ease;
            }

            .swiper-pagination-bullet-active{
                background: var(--first-color);
                transform: scale(1.3);
                opacity: 1;
            }

            .swiper-slide-button{
                color: var(--white-color);
                margin-top: 10rem;
                width: 2rem;
                height: 2rem;
                transition: 0.3s;

                &:hover {
                    color: var(--first-color); /* O el color de énfasis de tu iglesia */
                    transform: scale(1.5); /* Un pequeño pop al pasar el mouse */
                }

                &::after {
                    font-family: Arial, sans-serif !important;
                    font-size: 10rem; /* Tamaño del dibujo de la flecha */
                    font-weight: 900 !important;
                    font-size: 3rem !important;
                    -webkit-text-stroke: px currentColor;
                    font-weight: bold;
                }
            }


        }
        

    }
    
}
@media screen and (max-width: 768px){

    .card-wrapper .swiper-slide-button{
        display: none;
    }

    .carrusel__card-item {
        /*margin: 1rem;esto rompe todo*/
        /*margin-right: 2rem;*/
        /*width: 75% !important; tambien lo rompe*/
        width: 100% !important;

    }
}
