.hero{
    width: 100%;
    height: 100vh;
    min-height: 70.5rem;
    max-height: 120rem;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: var(--header-height);
    overflow: hidden;


        /*probando git*/
    @media (max-width: 1024px) {
        min-height: 37.5rem;
        max-height: 140rem;
    }

    .hero__bg-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        .hero__overlay {
            position: absolute;
            inset: 0;
            background-color: #0000008c;
            z-index: 1;
        }

        .hero__bg-img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* CLAVE: Estira la imagen para tapar huecos negros */
            object-position: center top;
            z-index: 0;
            will-change: transform;
        }
    }
    /*
    &::before{
        content: "";
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../../assets/hero-background.webp');
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        z-index: -1;
    }
    */
    .hero__container{
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 2;

        display: flex;
        align-items: center;
        justify-content: center;

        .hero__picture{
            max-width: 31.25rem;
            margin: 0rem 1rem;
            margin-bottom: 14rem;
            .hero__logo{
                display: block;
                width: 100%;
                height: auto;
            }
        }

    }
}