.hero{
    width: 100%;
    height: 95vh;
    min-height: 37.5rem;
    max-height: 140rem;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: var(--header-height);

    &::before{
        content: "";
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../../assets/hero-background.webp');
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        z-index: -1;
    }

    .hero__container{
        height: 100%;
        
        display: flex;
        align-items: center;
        justify-content: center;

        .hero__picture{
            max-width: 31.25rem;
            .hero__logo{
                display: block;
                width: 100%;
            }
        }

    }
}